@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background: url('https://www.energy.gov/sites/default/files/2023-02/shutterstock_1809733252.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
